<% @tweets.each do |e| %>
  <p>
      <%= e.message %>
      <%= (Time.current - e.tdate).to_i / 60 %>分前
      <%= link_to '削除', tweet_path(e.id), method: :delete %>
      
      <% if session[:uid] %>
        <% if e.likes.count == 0 %>
          <%= link_to '♡', likes_path(tweet_id: e.id), method: :post %>
        <% else %>
          <%= link_to '♥', like_path(e), method: :delete %>
        <% end %>
      <% end %>
  </p>
<% end %>

<% if session[:uid] %>
  <%= link_to '新規追加', new_tweet_path %>
<% else %>
  <% link_to 'ログイン', top_main_path %>
<% end %>